[core]
  filemode = true
  excludesfile = ~/.gitexcludes

[user]
  name = Daniel MacDougall
  email = dmacdougall@gmail.com

[branch]
  autosetupmerge = true
  autosetuprebase = always

[color]
  ui = auto

[push]
  default = tracking

[diff]
  ignoreSubmodules = untracked

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  wc = whatchanged
  cp = cherry-pick -x
  sm = submodule
  sh = stash
  ol = log --oneline
  rb = "!bash -c 'git rebase -i HEAD~$1' -"
  ;last = "!git log | head -n 1 | cut -c 8- | xargs echo -n | pbcopy"
  last = "!git log --oneline -n 1 --format='%H'"


[github]
  user = dmacdougall
