[core]
  filemode = true
  excludesfile = ~/.gitexcludes

[user]
  name = Daniel MacDougall
  email = dmacdougall@gmail.com

[branch]
  autosetuprebase = always

[color]
  ui = auto

[alias]
  st = status --ignore-submodules=untracked
  ci = commit
  co = checkout
  br = branch
  wc = whatchanged
  cp = cherry-pick
  sm = submodule
  last = "!git log | head -n 1 | cut -c 8- | xargs echo -n | pbcopy"

