[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule ".vim/bundle/The-NERD-Commenter"]
	path = .vim/bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/clones/vim-align.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/delemitMate"]
	path = .vim/bundle/delemitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "scripts/z"]
	path = scripts/z
	url = https://github.com/rupa/z.git
[submodule ".vim/bundle/vim-io"]
	path = .vim/bundle/vim-io
	url = https://github.com/davidbalbert/vim-io.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-gemfile"]
	path = .vim/bundle/vim-gemfile
	url = https://github.com/tobiassvn/vim-gemfile.git
[submodule ".vim/bundle/vim-actionscript"]
	path = .vim/bundle/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/cocoa"]
	path = .vim/bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-foreplay"]
	path = .vim/bundle/vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/rainbow-parentheses.vim"]
	path = .vim/bundle/rainbow-parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim2hs"]
	path = .vim/bundle/vim2hs
	url = git://github.com/dag/vim2hs.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/lushtags"]
	path = .vim/bundle/lushtags
	url = git://github.com/bitc/lushtags.git
[submodule ".vim/bundle/haskellmode-vim"]
	path = .vim/bundle/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
